# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ambiente
.env

# Logs
logs/
*.log

# Diretórios temporários
tmp/
temp/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/

# Arquivos de build (se você usar alguma ferramenta depois)
dist/
build/
